[zone]
region = Kitchen
# Delete the local video file after the upload
cleanup = True
# Force on between these hours (ignores presence info)
zone_guard_start = 1
zone_guard_end = 7

[pushbullet]
enabled = True
# Obtain your API key from: https://www.pushbullet.com/account
apikey = xxxxx
# Subject line for notification message
subject = {} motion detected
# First line of notification message
message = Video uploaded for event in {}
event_message = {} surveilance is being captured.


[dropbox]
# Folder (or collection) in Docs where you want the videos to go
folder = cctv
folder_link = https://www.dropbox.com/home/Apps/motion-notify/cctv/
access_token = xxxxx

[LAN]
enabled = True
#comma separated list of IP addresses for detection.
ip_addresses = 10.0.10.119

